*{
    margin: 0px;
    padding: 0px;
}
/* Header's Navigation bar styles */
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(188, 145, 171);
    padding: 10px;
    /* border-radius: 10px; */
}
.menus{
    display: flex;
    list-style: none;
    gap: 25px;
    font-size: 25px;
    color: aliceblue;
}

/* Header's banner styles */
.banner-container{
    height: 100vh;
    background-image: url('../styles/asset/image/background.jpg'), linear-gradient(rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.4));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
}
.title{
    font-size: 55px;
    font-weight: bold;
    color: white;
}
.primary{
    color: red;
}
.description{
    color: white;
    padding: 10px;
    width: 50%;
    margin: auto;
}
.btn{
    padding: 10px 20px;
    border: none;
}
.btn-primary{
    background-color: red;
    color: white;
}